@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Sono login</p>

<form asp-action="Login" method="post" asp-controller="Auth">
    <label asp-for="Username">Username:</label>
    <input type="text" asp-for="Username" />
    <label asp-for="Password">Password</label>
    <input type="password" asp-for="Password" />
    <button type="submit">pepe</button>
</form>