<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<aspNetCore processPath="dotnet"
						  arguments=".\MyApp.dll"
						  stdoutLogEnabled="false"
						  stdoutLogFile=".\logs\stdout"
						  hostingModel="inprocess" />
	</system.webServer>
</configuration>
